.root {
    main-color: rgb(232, 245, 255);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #7DB7E3;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: LightSkyBlue;
    -fx-font: bold 16px "Arial";
}

.button:hover {
    -fx-background-color: #5EC2FF;
    -fx-font-size: 16px;
}

.button:pressed {
    -fx-background-color: #007CC9;
    -fx-font-size: 16px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #007CC9;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

